:root {
  --colorerror-100: rgba(253, 225, 214, 1);
  --colorerror-200: rgba(251, 188, 175, 1);
  --colorerror-25: rgba(255, 242, 237, 1);
  --colorerror-300: rgba(247, 144, 135, 1);
  --colorerror-50: rgba(252, 233, 226, 1);
  --colorerror-500: rgba(204, 29, 29, 1);
  --colorerror-600: rgba(189, 38, 66, 1);
  --colorerror-700: rgba(161, 26, 64, 1);
  --colorerror-800: rgba(158, 16, 16, 1);
  --colorerror-900: rgba(232, 99, 100, 1);
  --colorgray-100: rgba(200, 215, 226, 1);
  --colorgray-200: rgba(175, 190, 201, 1);
  --colorgray-25: rgba(254, 254, 254, 1);
  --colorgray-300: rgba(150, 165, 176, 1);
  --colorgray-400: rgba(125, 140, 151, 1);
  --colorgray-50: rgba(240, 244, 247, 1);
  --colorgray-500: rgba(100, 115, 126, 1);
  --colorgray-600: rgba(75, 89, 100, 1);
  --colorgray-700: rgba(50, 64, 74, 1);
  --colorgray-800: rgba(26, 39, 48, 1);
  --colorgray-900: rgba(1, 19, 26, 1);
  --colorprimary-100: rgba(153, 187, 241, 1);
  --colorprimary-200: rgba(102, 162, 235, 1);
  --colorprimary-25: rgba(229, 238, 251, 1);
  --colorprimary-300: rgba(51, 131, 229, 1);
  --colorprimary-400: rgba(28, 105, 225, 1);
  --colorprimary-50: rgba(204, 221, 247, 1);
  --colorprimary-500: rgba(0, 76, 190, 1);
  --colorprimary-600: rgba(0, 63, 158, 1);
  --colorprimary-700: rgba(0, 51, 128, 1);
  --colorprimary-800: rgba(0, 39, 97, 1);
  --colorprimary-900: rgba(0, 29, 71, 1);
  --colorsucess-100: rgba(200, 249, 222, 1);
  --colorsucess-200: rgba(148, 244, 191, 1);
  --colorsucess-25: rgba(237, 255, 245, 1);
  --colorsucess-300: rgba(92, 224, 151, 1);
  --colorsucess-400: rgba(51, 193, 115, 1);
  --colorsucess-50: rgba(223, 255, 237, 1);
  --colorsucess-500: rgba(3, 152, 85, 1);
  --colorsucess-600: rgba(2, 130, 85, 1);
  --colorsucess-700: rgba(1, 109, 82, 1);
  --colorsucess-800: rgba(0, 69, 66, 1);
  --colorsucess-900: rgba(0, 59, 56, 1);
  --colorwarning-100: rgba(254, 245, 199, 1);
  --colorwarning-200: rgba(253, 236, 181, 1);
  --colorwarning-25: rgba(255, 246, 232, 1);
  --colorwarning-300: rgba(251, 227, 163, 1);
  --colorwarning-400: rgba(249, 220, 146, 1);
  --colorwarning-50: rgba(255, 251, 224, 1);
  --colorwarning-500: rgba(201, 151, 0, 1);
  --colorwarning-600: rgba(181, 136, 0, 1);
  --colorwarning-700: rgba(161, 121, 0, 1);
  --colorwarning-800: rgba(141, 105, 0, 1);
  --colorwarning-900: rgba(122, 90, 0, 1);
  --focus-rings-ring-gray-shadow-xs: 0px 0px 0px 4px rgba(152, 162, 179, 0.14),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadows-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}