.buttons-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.buttons-button .dot {
  height: 10px;
  position: relative;
  width: 10px;
}

.buttons-button .dot-2 {
  border-radius: 4px;
  height: 8px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 8px;
}

.buttons-button .text {
  font-family: "Urbanist", Helvetica;
  font-weight: 800;
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buttons-button .class {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.buttons-button .icons-490 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.buttons-button .text-padding {
  position: relative;
}

.buttons-button .text-2 {
  font-family: "Urbanist", Helvetica;
  font-weight: 800;
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buttons-button.secondary-gray {
  background-color: var(--colorgray-25);
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.secondary-color {
  background-color: var(--colorgray-25);
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.primary {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.icon-only {
  gap: 8px;
}

.buttons-button.tertiary-color {
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.tertiary-gray {
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.link-gray.xl {
  gap: 8px;
}

.buttons-button.lg.link-color {
  gap: 8px;
}

.buttons-button.secondary-gray.state-default {
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.sm.icon-dot-leading {
  gap: 8px;
}

.buttons-button.secondary-gray.state-hover {
  border-color: #e1ebf2;
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.state-focused.secondary-gray {
  border-color: var(--colorgray-200);
  box-shadow: var(--focus-rings-ring-gray-shadow-xs);
}

.buttons-button.lg.link-gray {
  gap: 8px;
}

.buttons-button.state-focused.secondary-color {
  border-color: var(--colorprimary-50);
  box-shadow: 0px 0px 0px 4px #0048be1f, 0px 1px 2px #1018280d;
}

.buttons-button.tertiary-gray.state-hover {
  background-color: var(--colorgray-25);
}

.buttons-button.secondary-color.state-disabled {
  border-color: var(--colorprimary-25);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.xl.icon-dot-leading {
  gap: 8px;
}

.buttons-button.icon-only.xl {
  padding: 14px;
}

.buttons-button.icon-only.md {
  padding: 10px;
}

.buttons-button.icon-dot-leading.two-xl {
  gap: 12px;
}

.buttons-button.state-hover.secondary-color {
  border-color: var(--colorprimary-100);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.lg.icon-dot-leading {
  gap: 8px;
}

.buttons-button.primary.state-hover {
  background-color: var(--colorprimary-700);
  border-color: var(--colorprimary-700);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.lg.icon-only {
  padding: 12px;
}

.buttons-button.state-default.secondary-color {
  border-color: var(--colorprimary-50);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.secondary-gray.state-disabled {
  border-color: var(--colorprimary-25);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.primary.state-default {
  background-color: var(--colorprimary-900);
  border-color: var(--colorprimary-900);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.link-color.xl {
  gap: 8px;
}

.buttons-button.state-hover.tertiary-color {
  background-color: var(--colorgray-25);
}

.buttons-button.state-focused.primary {
  background-color: var(--colorprimary-900);
  border-color: var(--colorprimary-900);
  box-shadow: 0px 0px 0px 4px #2254a63d, 0px 1px 2px #1018280d;
}

.buttons-button.primary.state-disabled {
  background-color: var(--colorgray-25);
  border-color: var(--colorprimary-25);
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.sm.icon-only {
  padding: 8px;
}

.buttons-button.md.icon-dot-leading {
  gap: 8px;
}

.buttons-button.icon-only.two-xl {
  padding: 16px;
}

.buttons-button.sm.secondary-color.icon-default {
  gap: 4px;
  padding: 8px 12px;
}

.buttons-button.icon-dot-leading.primary.two-xl {
  padding: 16px 24px;
}

.buttons-button.xl.secondary-color.icon-default {
  gap: 6px;
  padding: 12px 18px;
}

.buttons-button.tertiary-gray.sm.icon-default {
  gap: 4px;
  padding: 8px 12px;
}

.buttons-button.lg.tertiary-gray.icon-dot-leading {
  padding: 10px 18px;
}

.buttons-button.primary.icon-default.two-xl {
  gap: 10px;
  padding: 16px 22px;
}

.buttons-button.tertiary-color.xl.icon-default {
  gap: 6px;
  padding: 12px 18px;
}

.buttons-button.tertiary-gray.md.icon-default {
  gap: 4px;
  padding: 10px 14px;
}

.buttons-button.xl.secondary-color.icon-dot-leading {
  padding: 12px 20px;
}

.buttons-button.link-gray.sm.icon-default {
  gap: 6px;
}

.buttons-button.icon-default.md.link-color {
  gap: 6px;
}

.buttons-button.icon-default.secondary-color.two-xl {
  gap: 10px;
  padding: 16px 22px;
}

.buttons-button.secondary-gray.state-default.icon-only {
  border-color: #e1ebf2;
}

.buttons-button.secondary-gray.md.icon-default {
  gap: 4px;
  padding: 10px 14px;
}

.buttons-button.md.secondary-color.icon-dot-leading {
  padding: 10px 16px;
}

.buttons-button.link-gray.icon-default.two-xl {
  gap: 12px;
}

.buttons-button.icon-dot-leading.tertiary-gray.two-xl {
  padding: 16px 24px;
}

.buttons-button.tertiary-gray.md.icon-dot-leading {
  padding: 10px 16px;
}

.buttons-button.icon-dot-leading.secondary-color.two-xl {
  padding: 16px 24px;
}

.buttons-button.lg.secondary-color.icon-default {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.lg.primary.icon-dot-leading {
  padding: 10px 18px;
}

.buttons-button.primary.md.icon-dot-leading {
  padding: 10px 16px;
}

.buttons-button.icon-default.link-color.two-xl {
  gap: 12px;
}

.buttons-button.secondary-gray.state-default.icon-default {
  border-color: var(--colorgray-200);
}

.buttons-button.lg.primary.icon-default {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.icon-default.tertiary-color.two-xl {
  gap: 10px;
  padding: 16px 22px;
}

.buttons-button.lg.secondary-color.icon-dot-leading {
  padding: 10px 18px;
}

.buttons-button.sm.tertiary-color.icon-dot-leading {
  padding: 8px 14px;
}

.buttons-button.tertiary-gray.sm.icon-dot-leading {
  padding: 8px 14px;
}

.buttons-button.primary.sm.icon-dot-leading {
  padding: 8px 14px;
}

.buttons-button.tertiary-gray.xl.icon-dot-leading {
  padding: 12px 20px;
}

.buttons-button.tertiary-color.xl.icon-dot-leading {
  padding: 12px 20px;
}

.buttons-button.secondary-gray.xl.icon-dot-leading {
  padding: 12px 20px;
}

.buttons-button.link-gray.md.icon-default {
  gap: 6px;
}

.buttons-button.secondary-gray.state-default.icon-dot-leading {
  border-color: var(--colorgray-200);
}

.buttons-button.sm.link-color.icon-default {
  gap: 6px;
}

.buttons-button.primary.sm.icon-default {
  gap: 4px;
  padding: 8px 12px;
}

.buttons-button.secondary-gray.xl.icon-default {
  gap: 6px;
  padding: 12px 18px;
}

.buttons-button.lg.tertiary-color.icon-default {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.lg.tertiary-gray.icon-default {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.primary.md.icon-default {
  gap: 4px;
  padding: 10px 14px;
}

.buttons-button.lg.secondary-gray.icon-dot-leading {
  padding: 10px 18px;
}

.buttons-button.md.secondary-color.icon-default {
  gap: 4px;
  padding: 10px 14px;
}

.buttons-button.lg.secondary-gray.icon-default {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.tertiary-color.md.icon-default {
  gap: 4px;
  padding: 10px 14px;
}

.buttons-button.secondary-gray.sm.icon-dot-leading {
  padding: 8px 14px;
}

.buttons-button.tertiary-gray.icon-default.two-xl {
  gap: 10px;
  padding: 16px 22px;
}

.buttons-button.icon-dot-leading.secondary-gray.two-xl {
  padding: 16px 24px;
}

.buttons-button.tertiary-color.md.icon-dot-leading {
  padding: 10px 16px;
}

.buttons-button.primary.xl.icon-dot-leading {
  padding: 12px 20px;
}

.buttons-button.sm.tertiary-color.icon-default {
  gap: 4px;
  padding: 8px 12px;
}

.buttons-button.secondary-gray.icon-default.two-xl {
  gap: 10px;
  padding: 16px 22px;
}

.buttons-button.icon-dot-leading.tertiary-color.two-xl {
  padding: 16px 24px;
}

.buttons-button.sm.secondary-color.icon-dot-leading {
  padding: 8px 14px;
}

.buttons-button.lg.tertiary-color.icon-dot-leading {
  padding: 10px 18px;
}

.buttons-button.secondary-gray.sm.icon-default {
  gap: 4px;
  padding: 8px 12px;
}

.buttons-button.secondary-gray.md.icon-dot-leading {
  padding: 10px 16px;
}

.buttons-button.tertiary-gray.xl.icon-default {
  gap: 6px;
  padding: 12px 18px;
}

.buttons-button.primary.xl.icon-default {
  gap: 6px;
  padding: 12px 18px;
}

.buttons-button.state-disabled .dot-2 {
  background-color: var(--colorprimary-25);
}

.buttons-button.state-focused.secondary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.link-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.primary.state-hover .dot-2 {
  background-color: var(--colorgray-25);
}

.buttons-button.state-hover.tertiary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.tertiary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.tertiary-gray .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.primary .dot-2 {
  background-color: var(--colorprimary-25);
}

.buttons-button.link-gray.state-default .dot-2 {
  background-color: #17b169;
}

.buttons-button.tertiary-gray.state-hover .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-hover.link-gray .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-default.link-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-default.secondary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.secondary-gray.state-default .dot-2 {
  background-color: #17b169;
}

.buttons-button.secondary-gray.state-hover .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.secondary-gray .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-hover.link-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-hover.secondary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-focused.link-gray .dot-2 {
  background-color: #17b169;
}

.buttons-button.primary.state-default .dot-2 {
  background-color: var(--colorprimary-25);
}

.buttons-button.tertiary-gray.state-default .dot-2 {
  background-color: #17b169;
}

.buttons-button.state-default.tertiary-color .dot-2 {
  background-color: #17b169;
}

.buttons-button.md .text {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.sm .text {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.state-disabled .text {
  color: var(--colorgray-400);
}

.buttons-button.xl .text {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.two-xl .text {
  font-size: 18px;
  line-height: 28px;
}

.buttons-button.lg .text {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.state-focused.link-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.secondary-gray.state-default .text {
  color: var(--colorgray-800);
}

.buttons-button.secondary-gray.state-hover .text {
  color: var(--colorgray-900);
}

.buttons-button.state-focused.secondary-gray .text {
  color: var(--colorgray-800);
}

.buttons-button.state-focused.secondary-color .text {
  color: var(--colorprimary-900);
}

.buttons-button.tertiary-gray.state-hover .text {
  color: var(--colorgray-800);
}

.buttons-button.state-hover.secondary-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.primary.state-hover .text {
  color: var(--colorgray-25);
}

.buttons-button.state-focused.tertiary-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.link-gray.state-default .text {
  color: var(--colorgray-700);
}

.buttons-button.state-hover.link-gray .text {
  color: var(--colorgray-800);
}

.buttons-button.state-default.secondary-color .text {
  color: var(--colorprimary-900);
}

.buttons-button.state-hover.link-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.state-focused.link-gray .text {
  color: var(--colorgray-700);
}

.buttons-button.primary.state-default .text {
  color: var(--colorprimary-25);
}

.buttons-button.tertiary-gray.state-default .text {
  color: var(--colorgray-700);
}

.buttons-button.state-hover.tertiary-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.state-focused.tertiary-gray .text {
  color: var(--colorgray-700);
}

.buttons-button.state-focused.primary .text {
  color: var(--colorprimary-25);
}

.buttons-button.state-default.link-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.state-default.tertiary-color .text {
  color: var(--colorprimary-700);
}

.buttons-button.tertiary-color .text-padding {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 2px;
}

.buttons-button.secondary-color .text-padding {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 2px;
}

.buttons-button.link-color .text-padding {
  font-family: "Urbanist", Helvetica;
  font-weight: 800;
  letter-spacing: 0;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.buttons-button.secondary-gray .text-padding {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 2px;
}

.buttons-button.link-gray .text-padding {
  font-family: "Urbanist", Helvetica;
  font-weight: 800;
  letter-spacing: 0;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.buttons-button.tertiary-gray .text-padding {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 2px;
}

.buttons-button.primary .text-padding {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 2px;
}

.buttons-button.state-focused.link-color .text-padding {
  color: var(--colorprimary-700);
}

.buttons-button.link-gray.sm .text-padding {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.link-gray.xl .text-padding {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.lg.link-color .text-padding {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.link-gray.state-disabled .text-padding {
  color: var(--colorgray-400);
}

.buttons-button.lg.link-gray .text-padding {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.link-gray.md .text-padding {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.md.link-color .text-padding {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.link-gray.state-default .text-padding {
  color: var(--colorgray-700);
}

.buttons-button.state-hover.link-gray .text-padding {
  color: var(--colorgray-800);
}

.buttons-button.link-color.two-xl .text-padding {
  font-size: 18px;
  line-height: 28px;
}

.buttons-button.state-hover.link-color .text-padding {
  color: var(--colorprimary-700);
}

.buttons-button.state-focused.link-gray .text-padding {
  color: var(--colorgray-700);
}

.buttons-button.sm.link-color .text-padding {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.link-color.xl .text-padding {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.link-color.state-disabled .text-padding {
  color: var(--colorgray-400);
}

.buttons-button.state-default.link-color .text-padding {
  color: var(--colorprimary-700);
}

.buttons-button.link-gray.two-xl .text-padding {
  font-size: 18px;
  line-height: 28px;
}

.buttons-button.md .text-2 {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.sm .text-2 {
  font-size: 14px;
  line-height: 20px;
}

.buttons-button.state-disabled .text-2 {
  color: var(--colorgray-400);
}

.buttons-button.xl .text-2 {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.two-xl .text-2 {
  font-size: 18px;
  line-height: 28px;
}

.buttons-button.lg .text-2 {
  font-size: 16px;
  line-height: 24px;
}

.buttons-button.state-focused.link-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.secondary-gray.state-default .text-2 {
  color: var(--colorgray-800);
}

.buttons-button.secondary-gray.state-hover .text-2 {
  color: var(--colorgray-900);
}

.buttons-button.state-focused.secondary-gray .text-2 {
  color: var(--colorgray-800);
}

.buttons-button.state-focused.secondary-color .text-2 {
  color: var(--colorprimary-900);
}

.buttons-button.tertiary-gray.state-hover .text-2 {
  color: var(--colorgray-800);
}

.buttons-button.state-hover.secondary-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.primary.state-hover .text-2 {
  color: var(--colorgray-25);
}

.buttons-button.state-focused.tertiary-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.link-gray.state-default .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.state-hover.link-gray .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.state-default.secondary-color .text-2 {
  color: var(--colorprimary-900);
}

.buttons-button.state-hover.link-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.state-focused.link-gray .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.primary.state-default .text-2 {
  color: var(--colorprimary-25);
}

.buttons-button.tertiary-gray.state-default .text-2 {
  color: var(--colorgray-700);
}

.buttons-button.state-hover.tertiary-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.state-focused.tertiary-gray .text-2 {
  color: var(--colorgray-700);
}

.buttons-button.state-focused.primary .text-2 {
  color: var(--colorprimary-25);
}

.buttons-button.state-default.link-color .text-2 {
  color: var(--colorprimary-700);
}

.buttons-button.state-default.tertiary-color .text-2 {
  color: var(--colorprimary-700);
}
